In [1]:
# NOTE: this notebook uses python3 (version 3.9.1)

import pandas as pd

# pandas provide a dataframe abstraction to help analyzing tabular data

In [2]:

# Housekeeping: find out what is the current directory and adjust the path to the data file
#import os
#cwd = os.getcwd()
#print ('working_directory = ' + cwd)

# load data into the pandas dataframe (df)
df = pd.read_csv("imdb_100.csv")

# get sense of a data in the df
df.head()

,star_rating,title,year,content_rating,genre,duration,gross
0,9.3,The Shawshank Redemption,1994,R,Drama,142,1963330
1,9.2,The Godfather,1972,R,Crime,175,28341469
2,9.0,The Dark Knight,2008,PG-13,Action,152,1344258
3,9.0,The Godfather: Part II,1974,R,Crime,202,134966411
4,8.9,Pulp Fiction,1994,R,Crime,154,1935047

In [3]:
# How many rows and columns are in the dataset?

# every panda's dataframe has a 'shape' property. A 'shape' is a tuple representing the dimensionality of the dataframe.
# the first element is the number of rows
# the second element is the number of columns

num_rows = df.shape[0]
num_cols = df.shape[1]
print ('num_rows = {}, num_cols = {}'.format(num_rows, num_cols))

num_rows = 100, num_cols = 7

In [4]:
# What are the column names?

# a dataframe has a 'columns' property that contains the names of the df's columns

print ('column_names = {}'.format(list(df.columns)))

column_names = ['star_rating', 'title', 'year', 'content_rating', 'genre', 'duration', 'gross']

In [5]:
# How many unique genres are there?

# it is possible to access every column through its name (very handy) 
# and apply functions against this column 
# including 'unique()' function that counts the number of unique values in that column

print ('unique_genres = {}'.format(len(df.genre.unique())))

unique_genres = 12

In [6]:
# How many movies are there per genre?â€¨

# dataframe provides 'groupby' function that groups values by a specific column(s)
# on the 'groupby' result an aggregation function should be applied. The function can be any aggregation function including: count, mean, sum
# (optional) the values can be sorted by 'sort_values' function that is equivalent to 'order by' in SQL

df.groupby(['genre'])['genre'].agg('count').sort_values(ascending=False)

/usr/local/google/home/tasyrkin/.pyenv/versions/3.9.1/lib/python3.9/site-packages/IPython/core/inputtransformer2.py:484: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  warnings.warn("`make_tokens_by_line` received a list of lines which do not have lineending markers ('\\n', '\\r', '\\r\\n', '\\x0b', '\\x0c'), behavior will be unspecified")

genre
Crime                  20
Action                 17
Drama                  17
Animation              10
Adventure               9
Drama                   8
Comedy                  6
Biography               5
Western                 3
Horror                  2
Mystery                 2
Comedy                  1
Name: genre, dtype: int64